.wrapper {
  padding: 15px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: inline-grid;
  align-content: center;
  align-items: center;
  height: auto;
}

.example-section1 {
  display: inline-grid;
  align-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.example-margin {
  margin: 0 10px;
}

.result-class {
  font-size: 16px;
}

.example-full-width {
  margin: 10px;
  width: 100%;
}
