<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>vpn_key</mat-icon>
    <span style="padding-left: 15px">Secure Password Generator v{{ version }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="wrapper">
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Configuration</h2>

      <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="isCheckedNumber">
          Include Numbers ( e.g. 123456 )
        </mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="isCheckedLower">
          Include Lowercase Characters ( e.g. abcdefgh )
        </mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="isCheckedUpper">
          Include Uppercase Characters ( e.g. ABCDEFGH )
        </mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="isCheckedSymbols">
          Include Symbolds ( e.g. @#$% )
        </mat-checkbox>
        <br>
        <mat-form-field>
          <mat-select placeholder="Strength Length" [(ngModel)]="selectedStrength" name="strength">
            <mat-option *ngFor="let item of strengthList" [value]="item.key">
              {{ item.name }} ({{ item.length }})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-button color="primary" (click)="onGeneratePassword()" [disabled]="!isCheckedSymbols && !isCheckedLower && !isCheckedUpper && !isCheckedNumber">GENERATE</button>
      </section>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card class="result">
    <mat-card-content>
      <h2 class="example-h2">Result</h2>

      <section class="example-section1">
        <mat-form-field class="example-full-width">
          <input type="text" class="result-class" matInput [ngModel]="result" name="result"
                 onclick="this.select()" title="Result" autocomplete="off">
        </mat-form-field>
      </section>
    </mat-card-content>
  </mat-card>
</div>
